# ───────────── gRPC URLs ─────────────
ACCOUNTS_URL=0.0.0.0:5001
CUSTOMERS_URL=0.0.0.0:5002
TRANSACTIONS_URL=0.0.0.0:5003

# ───────────── MongoDB URIs ─────────────
ACCOUNTS_MONGO_URI=mongodb://localhost:27017/accounts
CUSTOMERS_MONGO_URI=mongodb://localhost:27017/customers
TRANSACTIONS_MONGO_URI=mongodb://localhost:27017/transactions
